/*
 *
 * Switch by Nicolas Slatiner
 * source: https://codepen.io/slatiner/pen/samvo
 *
 */

* {
  box-sizing:border-box;
}

html {
  height:100%
}

button:hover{
  color: #fff;
background-color: #0592b9;
border-color: #0588ac;
}
button{
  color: #fff;
background-color: #06AFDE;
border-color: #06AFDE;
  text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
